body {
    background-color : dimgrey;
    color            : white;
}

.app-title {
    text-align  : center;
    font-weight : 500;
}

.chess {
    $squareSize : 50px;

    margin-top : 70px;

    .board {
        .line {
            display         : flex;
            justify-content : center;

            .square {
                display         : flex;
                align-items     : center;
                justify-content : center;
                width           : $squareSize;
                height          : $squareSize;

                &.white {
                    background-color : #FFF;
                }

                &.black {
                    background-color : #5b5e84;
                }

                .piece {
                    cursor : pointer;
                }
            }
        }
    }
}