body {
    background-color : dimgrey;
    color            : white;
    overflow         : hidden;
}

.app-title {
    text-align  : center;
    font-weight : 500;
}

.chess {
    $squareSize : 50px;

    margin-top  : 25px;
    user-select : none;

    .board {

        .rotation-selection {
            text-align    : center;
            margin-bottom : 20px;

            label {
                display         : flex;
                justify-content : center;

                input[type=checkbox] {
                    margin-right : 8px;
                }
            }
        }

        .line-container {
            transition : transform 100ms;

            &.black {
                transform : rotate(180deg);

                .line {
                    .square {
                        img {
                            transform : rotate(180deg);
                        }
                    }
                }
            }

            .line {
                display         : flex;
                justify-content : center;

                .square {
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    width           : $squareSize;
                    height          : $squareSize;

                    &.white {
                        background-color : #FFF;
                    }

                    &.black {
                        background-color : #5b5e84;
                    }

                    &.check {
                        background-color : #d28a83;
                    }

                    &.selected {
                        background-color : #87c17f;
                    }

                    .piece {
                        cursor : pointer;
                    }
                }
            }
        }


        .who-plays {
            margin-top : 20px;
            text-align : center;
            font-size  : 20px;

            &.white {
                color : #FFF;
            }

            &.black {
                color : #000;
            }

            .check {
                color : #bd1100;
            }

            .promotion-pieces {
                display         : flex;
                justify-content : center;
                margin-top      : 10px;

                .piece {
                    cursor : pointer;

                    &:not(:first-child) {
                        margin-left : 10px;
                    }

                    img {
                        border-radius : 5px;
                        transition    : background-color 200ms;
                    }

                    &:hover {
                        img {
                            background-color : #87c17f;
                        }
                    }

                }

            }
        }
    }
}